{% extends '::base.html.twig' %}

{% block body -%}
    <h1>EspEtudiant list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nomet</th>
                <th>Pnomet</th>
                <th>Datenaiset</th>
                <th>Lieunaiset</th>
                <th>Natureet</th>
                <th>Fonctionet</th>
                <th>Adresseet</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('espetudiant_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nomEt }}</td>
                <td>{{ entity.pnomEt }}</td>
                <td>{% if entity.dateNaisEt %}{{ entity.dateNaisEt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.lieuNaisEt }}</td>
                <td>{{ entity.natureEt }}</td>
                <td>{{ entity.fonctionEt }}</td>
                <td>{{ entity.adresseEt }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('espetudiant_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('espetudiant_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('espetudiant_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
