{% extends '::base.html.twig' %}

{% block body -%}
    <h1>EspEtudiant</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nomet</th>
                <td>{{ entity.nomEt }}</td>
            </tr>
            <tr>
                <th>Pnomet</th>
                <td>{{ entity.pnomEt }}</td>
            </tr>
            <tr>
                <th>Datenaiset</th>
                <td>{{ entity.dateNaisEt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Lieunaiset</th>
                <td>{{ entity.lieuNaisEt }}</td>
            </tr>
            <tr>
                <th>Natureet</th>
                <td>{{ entity.natureEt }}</td>
            </tr>
            <tr>
                <th>Fonctionet</th>
                <td>{{ entity.fonctionEt }}</td>
            </tr>
            <tr>
                <th>Adresseet</th>
                <td>{{ entity.adresseEt }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('espetudiant') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('espetudiant_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('espetudiant_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
